.primary_button {
  width: 200px;
  height: 48px;
  background-color: #203a4c;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  margin-bottom: 96px;
}

.primary_button:hover {
  background-color: #5fb4a2;
}

.primary_button.disabled {
  cursor: auto;
  background-color: #eaeaeb;
}

.about {
  width: 375px;
  margin: 24px auto;
  padding: 0 32px;
  display: grid;
  grid-gap: 5rem;
}
.about_section{
  display: grid;
  grid-gap: 5rem;
}

.portrait_wrapper {
  text-align: center;
display: flex;
  background-size: cover;
  background-position: center center;
 
  background-repeat: no-repeat;
  & img{
    width: 100%;
    object-fit: cover;
  }
}

.underline {
  margin-top: 32px;
  display: block;
  content: "";
  width: 100%;
  border-bottom: solid 1px #33323d1e;
}

.section_title {
  font-size: 40px;
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  letter-spacing: -0.36px;
  margin: 32px 0;
  color: #33323d;
}

.text {
  font-family: "Public Sans";
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
}

.secondary_button {
  margin-top: 24px;
  width: 200px;
  height: 48px;
  background-color: #fff;
  color: #33323d;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: solid 1px #33323d;
  transition: 0.1s;
  cursor: pointer;
}

.secondary_button:hover {
  background-color: #33323d;
  color: #fff;
}

.secondary_button.disabled {
  cursor: auto;
  background-color: #eaeaeb;
}

.hero_wrapper {
  width: 375px;
  padding: 0 32px;
  margin: 8px auto;
}

.hero_image {
  width: 311px;
  height: 271px;
  background-image: url(../images/homepage/mobile/image-homepage-hero.jpg);
  background-size: cover;
}

.hero_title {
  width: 310px;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  letter-spacing: -0.36px;
  font-weight: 700;
  margin: 24px 0 32px;
}

.icon {
  height: 48px;
  background-color: rgb(0, 0, 0, 0.1);
  position: relative;
}

.down_arrows {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .hero_wrapper {
    width: 768px;
    padding: 0 40px;
  }

  .hero_desktop {
    background-image: url(../images/homepage/tablet/image-homepage-hero@2x.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
  }

  .hero_image {
    width: auto;
    height: auto;
    background-image: initial;
  }

  .hero_description {
    width: 514px;
    height: 278px;
    background-color: #fff;
    position: absolute;
    left: -1px;
    bottom: -1px;
    padding-right: 56px;
  }

  .hero_title {
    width: 100%;
    font-family: "Ibarra Real Nova";
    font-size: 40px;
    letter-spacing: -0.36px;
    font-weight: 700;
    margin: 56px 0 24px 0;
  }

  .about {
    width: 768px;
    margin: 96px auto;
    padding: 0 40px;
  }

  .about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .portrait_wrapper {
   
  }

  .underline {
    margin-top: initial;
  }
  .underline.bottomline {
    margin-top: 38px;
  }

  .section_title {
    font-size: 40px;

    margin: 50px 0 28px;
  }
}

@media (min-width: 1440px) {
  .hero_wrapper {
    width: 1440px;
    padding: 0 165px;
  }

  .hero_desktop {
    background-image: url(../images/homepage/desktop/image-homepage-hero@2x.jpg);
  }

  .hero_description {
    width: 445px;
    height: 357px;
    padding-right: 56px;
  }

  .hero_title {
    margin-bottom: 52px;
  }
  .about_section {
    grid-template-columns: 1fr 1fr;
    /* gap: 210px; */
    grid-gap: 10rem;
  }

  .about {
    width: 1440px;
    padding: 0 165px;
  }

  .portrait_wrapper {
    & img {
      width: 100%;
    }
  }
  .section_wrapper {
    width: 350px;
  }
  .section_wrapper .secondary_button {
    margin-top: -8px;
  }
  .underline.bottomline {
    margin-top: 46px;
  }

  .section_title {
    margin: 50px 0 28px;
  }
}
