.primary_button {
    width: 200px;
    height: 48px;
    background-color: #203A4C;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border:none;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    transition: 0.1s;
    cursor: pointer;
    margin-bottom: 96px;
}

.primary_button:hover {
    background-color: #5FB4A2;
}

.primary_button.disabled {
    
    cursor:auto;
    background-color: #EAEAEB;
}

.about {
    margin: 24px auto;
    padding: 0 32px;
   }

.portrait_wrapper {
    text-align: center;
}

.underline {
    margin-top: 32px;
    display: block;
    content: "";
    width: 100%;
    border-bottom: solid 1px #33323d1e;
}

.section_title {
    font-size: 40px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    letter-spacing: -0.36px;
    margin: 32px 0;
    color:#33323D;
}

.text {
    font-family: 'Public Sans';
    font-size: 16px;
    line-height: 30px;
    color:#33323D;
}

.secondary_button {
    margin-top:24px;
    width: 200px;
    height: 48px;
    background-color: #FFF;
    color:#33323D;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border:solid 1px #33323D;
    transition: 0.1s;
    cursor: pointer;
}

.secondary_button:hover {
    background-color: #33323D;
    color:#FFF;
}

.secondary_button.disabled {
    
    cursor:auto;
    background-color: #EAEAEB;
}