.contact {
  width: 375px;
  min-height: calc(100vh - 150px - 80px);
  padding: 0 32px;
  margin: 0 auto;
}

.section_wrapper .text {
  margin: 24px 0;
}

form {
  margin: 24px 0 80px;
}

label {
  font-family: "Public sans";
  font-size: 13px;
  font-weight: 700;
}

input,
textarea {
  margin: 8px 0 2px;
  padding: 9px 16px;
  height: 48px;
  width: 100%;
  background-color: #eaeaeb;
  border: solid 1px transparent;
}

input::placeholder,
textarea::placeholder {
  font-family: "Public Sans";
  font-size: 13px;
  line-height: 30px;
}

input:focus,
textarea:focus {
  outline: none;
  border: solid 1px #5fb4a2;
}

input:valid,
textarea:valid {
  background-color: #eaeaeb;
}

input:invalid,
textarea:invalid {
  border: solid 1px #f43030;
}

.message {
  min-height: 96px;
}
.submit_button {
  transition: .2s ease-in-out all;
  width: 200px;
  height: 48px;
  background-color: #203a4c;
  border: none;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor:pointer;
}

.submit_button:hover{
  background-color: #5fb4a2;
}
.submit_button:focus {
  border: none;
}

.red {
  height: 16px;
  font-family: "Public Sans";
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color: #f43030;
}

@media (min-width: 768px) {
  .contact {
    width: 768px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .contact {
    width: 1440px;
    padding: 0 165px;
  }

  .contact .section_wrapper {
    width: 100%;
  }

  .text_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 24px;
    grid-template-areas: "title text" " title socials";
    padding: 48px 0;
  }
  .text_wrapper .text {
    margin-top: 0;
  }
  .text_wrapper h2 {
    grid-area: title;
  }
  .form_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 48px;
  }
  .form_wrapper form {
    margin-top: 0;
  }
}
