.detail_fylo {
  width: 311px;
  height: 140px;
  background-image: url(../images/detail/mobile/image-fylo-hero@2x.jpg);
  background-size: contain;
}

.fylo_first_screenshot {
  background-image: url(../images/detail/mobile/image-fylo-preview-1@2x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.fylo_second_screenshot {
  background-image: url(../images/detail/mobile/image-fylo-preview-2@2x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .detail_fylo {
    width: 689px;
    height: 310px;
    background-image: url(../images/detail/tablet/image-fylo-hero@2x.jpg);
    margin-bottom: 40px;
  }
  .fylo_first_screenshot {
    background-image: url(../images/detail/tablet/image-fylo-preview-1@2x.jpg);
  }

  .fylo_second_screenshot {
    background-image: url(../images/detail/tablet/image-fylo-preview-2@2x.jpg);
  }
}

@media (min-width: 1440px) {
  .detail_fylo {
    width: 1100px;
    height: 500px;
    background-image: url(../images/detail/desktop/image-fylo-hero@2x.jpg);
    margin-bottom: 115px;
  }
  .fylo_first_screenshot {
    background-image: url(../images/detail/desktop/image-fylo-preview-1@2x.jpg);
  }

  .fylo_second_screenshot {
    background-image: url(../images/detail/desktop/image-fylo-preview-2@2x.jpg);
  }
}
