.header_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

@media (min-width: 768px) {
  header {
    width: 768px;
    padding: 64px 40px 50px;
  }
}

.logo {
  display: block;
width: 100px;
height: 100px;
background-position: center;
background-size: cover;
  background-image: url(../images/logo-blue.png);
}

.logo_img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.nav_wrapper {
  display: block;
  position: absolute;
  top: 88px;
  right: 32px;
  transition: 0.2s;
}
.main_nav {
  z-index: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 225px;
  height: 190px;
  background-color: #33323d;
}

.desktop_nav {
  width: 310px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 32px;
}

.desktop_nav .nav_link {
  color: #33323d;
}
.nav_link.active {
  color: #5fb4a2;
}

@media (min-width: 1440px) {
  header {
    width: 1440px;
    padding: 64px 165px 54px;
  }
}
