.hero_wrapper {
    width: 100%;
    padding: 0 9%;
    margin: 8px auto;
}

.hero_image {
    width: 311px;
    height: 271px;
    background-image: url(../images/homepage/mobile/image-homepage-hero.jpg);
    background-size: cover;
    
}

.hero_title {
    width: 310px;
    font-family: "Ibarra Real Nova";
    font-size: 40px;
    letter-spacing: -0.36px;
    font-weight: 700;
    margin: 24px 0 32px;
}



.icon {
    height: 48px;
    background-color: rgb(0,0,0,0.1);
    position: relative;
   }

   .down_arrows {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   }
