.detail_insure {
  width: 100%;
  padding-bottom: 14rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/memory/memory-5.jpg);
  margin-bottom: 115px;
}

.insure_first_screenshot {
  width: 100%;
  padding-bottom: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/memory/memory-2.jpg);
  margin-bottom: 115px;
}

.insure_second_screenshot {
  width: 100%;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/memory/memory-4.jpg);
  margin-bottom: 115px;
}

@media (min-width: 768px) {
  .detail_insure {
    width: 100%;
    padding-bottom: 27rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/memory/memory-5.jpg);
    margin-bottom: 115px;
  }
  .insure_first_screenshot {
    width: 100%;
    padding-bottom: 58rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/memory/memory-2.jpg);
    margin-bottom: 115px;
  }

  .insure_second_screenshot {
    width: 100%;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/memory/memory-4.jpg);
    margin-bottom: 115px;
  }
}
@media (min-width: 1440px) {
  .detail_insure {
    /* aspect-ratio: 1440 / 1111; */
    width: 100%;
    padding-bottom: 47rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/memory/memory-5.jpg);
    margin-bottom: 115px;
  }
  .insure_first_screenshot {
    width: 100%;
    padding-bottom: 58rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/memory/memory-2.jpg);
    margin-bottom: 115px;
  }

  .insure_second_screenshot {
    width: 100%;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/memory/memory-4.jpg);
    margin-bottom: 115px;
  }
}
