.project {
  width: 375px;
  padding: 0 32px;
  margin: 0 auto 72px;
}

.line {
  content: "";
  display: block;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.173);
  margin: 32px 0 24px;
}

.project_cover {
  width: 311px;
  height: 288px;
  background-size: cover;
  background-position: center top;
}
.devjobs_cover {
  background-image: url(../images/devjobs/devjobs-4.jpg);
  
}

.manage_cover {
  background-image: url(../images/portfolio/mobile/image-portfolio-manage@2x.jpg);
}
.bookmark_cover {
  background-image: url(../images/muglife/muglife-1.JPG);
}
.insure_cover {
  background-image: url(../images/memory/memory-5.jpg);
}
.fylo_cover {
  background-image: url(../images/portfolio/mobile/image-portfolio-fylo@2x.jpg);
}

.description {
  margin-top: 24px;
  font-family: "Public Sans";
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
}

@media (min-width: 768px) {
  .project {
    width: 768px;
    padding: 0 40px;
    margin-bottom: 0 auto 72px;
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .project.project_reverse {
    flex-direction: row-reverse;
  }
  .project_description {
    width: 50%;
  }

  .line {
    width: 50%;
  }

  .project_cover {
    width: 339px;
    height: 314px;
    background-size: cover;
  }
  .devjobs_cover {
    background-image: url(../images/devjobs/devjobs-4.jpg);

  }
  .manage_cover {
    background-image: url(../images/portfolio/tablet/image-portfolio-manage@2x.jpg);
  }
  .bookmark_cover {
    background-image: url(../images/muglife/muglife-1.JPG);
  }
  .insure_cover {
    background-image: url(../images/memory/memory-5.jpg);
  }
  .fylo_cover {
    background-image: url(../images/portfolio/tablet/image-portfolio-fylo@2x.jpg);
  }

  .description {
    margin-top: 24px;
    font-family: "Public Sans";
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
  }
}

@media (min-width: 1440px) {
  .project {
    width: 1440px;
    padding: 0 165px;
    margin-bottom: 0 auto 80px;
    gap: 125px;
  }

  .project.project_reverse {
    flex-direction: row-reverse;
  }
  .project_description {
    width: 350px;
    height: 500px;
  }
  .project_description .secondary_title {
    margin: 105px 0 0;
  }
  .project_description .secondary_button {
    margin: 36px 0 108px;
  }
  .line {
    width: 350px;
    margin: 0;
  }

  .project_cover {
    width: 540px;
    height: 500px;
  }
  .devjobs_cover {
    background-image: url(../images/devjobs/devjobs-4.jpg);
    
  }

  .manage_cover {
    background-image: url(../images/portfolio/desktop/image-portfolio-manage@2x.jpg);
  }
  .bookmark_cover {
    background-image: url(../images/muglife/muglife-1.JPG);
  }
  .insure_cover {
    background-image: url(../images/memory/memory-5.jpg);
  }
  .fylo_cover {
    background-image: url(../images/portfolio/desktop/image-portfolio-fylo@2x.jpg);
  }

  .description {
    margin-top: 24px;
    font-family: "Public Sans";
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
  }
}
