@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

button{
  transition: all .2 ease-in-out;
}

.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
}






a:visited{
  color:transparent;
}


.black{
  & a{
    color: black;
  }
}



.white{
  & a{
    color: white;
  }
}
